.cookie-info
  Cookie in oven:
  - if local_assigns[:oven].cookie
    1 cookie with #{local_assigns[:oven].cookie.fillings || "no fillings"}
    - if local_assigns[:oven].cookie.ready?
      (Your Cookie is Ready)
      = button_to "Retrieve Cookie", empty_oven_path, class: 'button tiny'
  - else
    None