%h3= @oven.name

%div{id: "oven_id", :data => {:id => @oven.id}}
= render :partial => "cookie_info", :locals => { oven: @oven }
%br

= link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'